.dialog-content .first-col{
  white-space: nowrap !important;
  min-width:50px !important;
  padding:5px 10px 5px 10px !important;
  vertical-align:  middle !important;
  text-align:center !important;
}

.dialog-content .spinner-extra{
  width:36px !important;
  height:36px !important;
}

.dialog-content .spinner-extra svg{
  width:36px !important;
  height:36px !important;
}

.mat-progress-spinner svg{
  width:36px !important;
  height:36px !important;
}


.dialog-content .second-col{
  width:100%  !important;
  vertical-align:middle !important;
  text-align:left !important;
  padding-left:10px !important;
  word-wrap: break-word !important;
}

.mat-dialog-container{
  padding:5px !important;
}
